html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
  color: black;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  margin: 1rem 0;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #363f41;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e2324;
}

::-webkit-scrollbar-thumb:active {
  background: #a47e1b;
}

/* Botón dorado */
.btn-gold {
  background-color: #49A078;
  color: black;
  transition: 0.2s;
}

.modal-btn-gold {
  background-color: #49A078;
  color: #f2ede3;
  transition: 0.2s;
}

.modal-btn-gold:hover {
  background-color: transparent;
  background-color: #49A078;
}

.btn-gold:hover {
  background-color: transparent;
  outline: 0.0625rem solid #49A078;
  color: #f2ede3;
}

/* <---------------------------------------------------- NAVBAR------------------------------------------------------> */

.navbar {
  background-color: rgba(244, 248, 253, 0.5);
}

.navbar-toggler-icon {
  margin: 0 auto;
}

.navbar-nav .nav-link {
  margin-right: 20px;
}

/* <---------------------------------------------------- HERO------------------------------------------------------> */
.hero {
  position: relative;
  background-color: #F4F8FD;
  padding: 60px 0;
}

.hero-content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto; 
}

.hero-text {
  flex: 1;
  padding-right: 20px;
  position: relative;
}

.hero-text h1 {
  color: black;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  position: absolute;
  top: 40%; 
  left: 45%; 
  z-index: 2;
}

.hero-text p {
  color: black;
  font-size: 18px;
  margin-bottom: 30px;
  position: absolute;
  top: 170px; 
  left: 45%; 
  z-index: 2;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.linea-verde {
  width: 40%;
  border: none;
  height: 2px;
  background-color: #49A078;
  margin: auto;
}

h2 {
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.btn-contact-hero {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  position: absolute;
  bottom: 200px; 
  left: 90%; 
  transform: translateX(-50%);
  z-index: 2;
}

@media (max-width: 768px) {
  .hero-text h1 {
      font-size: 3rem; 
  }

  .hero-text p {
      font-size: 16px;
  }
}


/* <---------------------------------------------------- INTRO------------------------------------------------------> */
/* Estilo inicial oculto */
.hidden {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;
}

/* Estilo visible */
.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Animación de carga para la barra */
.linea-verde.loading {
  transition: width 2s ease-in-out;
  width: 30%; /* Ancho completo */
}

video::-webkit-media-controls {
  display: none;
} 

.container-ABOUT {
  margin: 5rem auto;
}
#title-about{
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
#caja-ABOUT {
  border-radius: 10px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 40vh;
  margin: 0 auto;
}

#texto-ABOUT {
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}

/* <---------------------------------------------------- SERVICES------------------------------------------------------> */
.card {
  height: 100%;
}

.card-bottom-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  height: 100%;
}

/* <---------------------------------------------------- CONTACTO------------------------------------------------------> */

.btn-contact {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
}
#title-contact {
  text-align: center;
  color: black;
}

#p-contact {
  text-align: center;
  color: black;
}

#contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

#container-contact {
  color: black;
  background-color: white;
  padding: 3.75rem 4.5rem;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin: 50px;
}

#container-contact form {
  width: 100%;
}

@media screen and (min-width: 768px) {
  #contacto {
    margin-bottom: 0;
  }
}

/* <---------------------------------------------------- FOOTER------------------------------------------------------> */

.pie-pagina {
  background-color: #F4F8FD;
  color: black;
}

/*----------------------------------------- ICONOS --------------------------------------------------*/
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-fb {
  color: blue;
}

.icon-ig {
  color: violet;

}

.icon-wpp {
  color: lightblue;
}

.icon-fb,
.icon-ig,
.icon-wpp {
  position: relative;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 0.8rem;
  border-radius: 50%;
  background-color: black;
  transition: background-color 0.2s ease-in-out;
  margin: 1rem;
}

.icon-text {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  display: none;
}

.icon-fb .icon-text {
  background-color: blue;
}

.icon-ig .icon-text {
  background-color: #ab32bb;

}

.icon-wpp .icon-text {
  background-color: lightblue;
}

.icon-fb:hover {
  background-color: blue;
  color: white;
}

.icon-ig:hover {
  background-color: #ab32bb;
  color: white;
}

.icon-wpp:hover {
  background-color: lightblue;
  color: white;
}

.icon-fb:hover .icon-text,
.icon-ig:hover .icon-text,
.icon-wpp:hover .icon-text {
  display: block;
}

.pie-pagina .container-md {
  height: auto;
  padding: 0.4688rem 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pie-pagina .container-md small {
  font-size: 0.75rem;
}

.deslizable {
  font-size: 2.5rem;
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 20;
  background: linear-gradient(50deg, #80ef03, #2c5a404d);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 5px 5px rgba(12, 12, 12, 0.8);
  animation: deslizable-animation 700ms linear 3s infinite alternate;
}

.deslizable a {
  text-decoration: none; /* Evita el subrayado del enlace */
}

.deslizable i {
  color: white;
  font-size: 2.2rem;
}

.deslizable i:hover {
  opacity: 0.9;
}

@keyframes deslizable-animation {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-3px);
  }
}
